.app {
  font-family: Lato, "Open Sans";

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.start-view {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.current-meeting {
  text-align: center;
  background: url("./img/bg-image.jpg") center center fixed;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.meeting-name {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.meeting-start {
  display: flex;
  justify-content: flex-end;
}

.meeting-end {
  display: flex;
  justify-content: flex-start;
}

.progress-bar {
  background-color: #fc0 !important;
}

div.progress {
  height: 0.5rem;
  background-color: rgb(95, 95, 95);
}

/* Hides meeting-items when using mobile phone and puts more height to current-meeting*/
@media only screen and (max-width: 600px) {
  .meeting-items {
    display: none !important;
  }
  .current-meeting {
    height: 40%;
    text-align: center;
    background: url("./img/bg-image.jpg") center center fixed;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .h4-styling {
    padding-top: 10px;
    padding-left: 10px;
  }
  .h3-styling {
    padding-left: 10px;
  }
}

.meeting-items {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: black;
  background: rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
  padding-top: 10px;
}

.meeting-item {
  padding-top: 20px;
  padding-bottom: 20px;
}

.scheduler-view {
  padding-top: 20px;
}

.td-hour {
  vertical-align: top;
  padding: 10px;
  padding-bottom: 10px;
  padding-top: 0px;
}

.td-info {
  padding: 10px;
  padding-top: 0px;
  vertical-align: top;
  border: 1px solid #ddd;
  border-left: 10px solid #fc0;
}

table {
  border-spacing: 10px;
  border-collapse: separate;
}

.info-meeting-name {
  background-color: #fc0;
  padding: 30px;
  border-bottom: #ddd;
}

.info-meeting {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.info-col-style {
  padding-left: 30px !important;
  padding-top: 10px;
}

.info-meeting-description {
  padding: 20px;
}
